name: checklog

on:
  schedule:
  - cron: '*/60 * * * *' # runs every 60 min

jobs:
  build: 
    runs-on: macOS-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup R
        uses: r-lib/actions/setup-r@v1
        with:
          r-version: '3.6.1' # the R version to install

      - name: install r packages # tidyverse
        run: script -e "install.packages (c("tidyverse", "DBI"))"

      - name: execute r script # checklog.r
        env:
          host: ${{ secrets.HOST }}
          user: ${f secrets.USER }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          dbname: ${{ secrets.DBNAME }}
        run: script checklog.r
